<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SearchDotsBannerCell</string>

			<key>tweakTitle</key>
			<string>SearchDots Vision</string>

			<key>height</key>
			<real>225</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Liên hệ</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SearchDotsContactCell</string>

			<key>titleLabel</key>
			<string>Pham Long</string>
			<key>bottomLabel</key>
			<string>Liên hệ cập nhật hoặc yêu cầu tính năng</string>
			<key>image</key>
			<string>phamlong.jpg</string>
			<key>url</key>
			<string>https://twitter.com</string>
			<key>action</key>
			<string>open:</string>

			<key>height</key>
			<real>70</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tinh chỉnh Tweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.nightwind.searchdotsprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Chọn kiểu nút tìm kiếm</string>
			<key>footerText</key>
			<string>Spotlight Search: Trình tìm kiếm Spotlight mặc định

App Library Search: Trình tìm kiếm thư viện ứng dụng.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.nightwind.searchdotsprefs</string>
			<key>key</key>
			<string>action</string>
			<key>validTitles</key>
			<array>
				<string>Spotlight Search</string>
				<string>App Library Search</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Y Offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>yOffset</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.nightwind.searchdotsprefs</string>
			<key>min</key>
			<integer>-100</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<string>true</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Ẩn nền </string>
			<key>footerText</key>
			<string>Ẩn nền của nút tìm kiếm.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nightwind.searchdotsprefs</string>
			<key>key</key>
			<string>hideBackground</string>
			<key>label</key>
			<string>Ẩn nền</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Độ mờ nền Kính (Blur Alpha)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.6</real>
			<key>defaults</key>
			<string>com.nightwind.searchdotsprefs</string>
			<key>key</key>
			<string>blur Alpha</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>com.nightwind.searchdotsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>One Page Support</string>
			<key>footerText</key>
			<string>Tùy chọn này YÊU CẦU khởi động lại thiết bị để áp dụng. Nó sẽ buộc thanh menu hiển thị ngay cả khi chỉ có một trang trên màn hình chính.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nightwind.searchdotsprefs</string>
			<key>key</key>
			<string>Hỗ trợ 1 trang</string>
			<key>label</key>
			<string>Hỗ trợ 1 trang</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>respringCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Áp dụng và Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SearchDotsContactCell</string>

			<key>titleLabel</key>
			<string>Mã nguồn</string>
			<key>bottomLabel</key>
			<string>GitHub</string>
			<key>image</key>
			<string>GitHub.png</string>
			<key>url</key>
			<string>https://github.com/</string>
			<key>action</key>
			<string>open:</string>

			<key>height</key>
			<real>70</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© Nightwind - PhamlongIT</string>
		</dict>
	</array>
	<key>title</key>
	<string>SearchDots Vision</string>
</dict>
</plist>
